/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background-color: #fff;
    color:#333;
    background-image: url('../img/contemporary_china.png');
    font-size: 1em;
    overflow:hidden;
}

h1 {
    font-family: 'Vidaloka', serif;
    color: #12389B;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
}

.intro {
    background-image: url('../img/qbackground.png');
    background-repeat: no-repeat;
    width: 800px;
    height: 900px;
    margin: 0 auto;
}

.title {
    margin: auto;
    position: absolute;
    left: 0;
    right: -27px;
    top: 180px;
}

.gametype {
    position: absolute;
    left: 0;
    right: -27px;
    top: 230px;
}

h2 {
    font-family: 'Vidaloka', serif;
    font-size: 2em;
    text-align: center;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    text-align: center;
    margin: 1em;
}

.instructions {
    width: 400px;
    position: relative;
    left: 0;
    right: 0;
    top: 300px;
    margin: auto;
}

img {
    display: block;
    width: 100%;
}

.startgame {

}

.table {
    display: none;
    position: absolute;
    width: 990px;
    height: 600px;
    margin: 0 auto;
    top: 180px;
    left: 0px;
    right: 0px;
    background-color: #333;
    outline: 2px solid #333;
    outline-offset: 5px;
    overflow: hidden;
}

/*.card {
    display: block;
    color: #fff;
    background-color: blue;
    width: 250px;
    height: 341px;
    margin: auto;
}*/

.wrapper {
    position: absolute;
    left: 200px;
    top: 40px;
    width: 100%;
    height: 100%;
}

#countdown {
    background-color: #333;
    color: #fff;
    width: 100px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    outline: 2px solid #333;
    outline-offset: 5px;
}

/********Card Position********/

.cardplaceholder {
    /*float: left;*/
    position: absolute;
    /*margin-right: 60px;*/
    transition: top,left 1000ms;
}

.fourcardrow {
    left: 100px;
}

.fivecardrow {
    left: 0;
}

.a-one {
    top: 0;
    left: 0;
}
.b-one {
    top: 0;
    left: 210px;
}
.c-one {
    top: 0;
    left: 420px;
}

.d-one {
    top: 0;
    left: 630px;
}

.e-one {
    top: 0;
    left: 840px;
}

.f-two {
    top: 250px;
    left: 0;
}

.g-two {
    top: 250px;
    left: 210px;
}

.h-two {
    top: 250px;
    left: 420px;
}

.i-two {
    top: 250px;
    left: 630px;
}

.j-two {
    top: 250px;
    left: 840px;
}

.secondrow {
    top: 250px;
}

/********Flip Card********/

.flip {
    perspective: 1000;
    -webkit-perspective: 1000;

    width: 150px;
    height: 204px;
}

.flip .card.flipped {
  transfrom: rotatey(-180deg);
  -webkit-transform: rotatey(-180deg);
}


.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2;
}

.flip .card .front {
  position: absolute;
  z-index: 1;
    cursor: pointer;
}

.flip .card .back {
  -webkit-transform: rotatey(-180deg);
}

/********Buttons & Windows********/

.startgame {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}

.result {
    display: none;
    background-color: rgba(245,245,245,0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
}

.winner, .loser {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    width: 1000px;
    margin: auto;
    margin-top: 200px;
}

.next, .again, .start {
    display: block;
    width: 200px;
    height: 50px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    background-color: #333;
    color: #fefefe;
    border: none;
    outline: 2px solid #333;
    outline-offset: 5px;
    margin: 0 auto;
}

.start {
    position: relative;
    top: 340px;
    left: 10px;
}

.next, .again {
    margin: 100px auto;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.state {
    font-size: 3em;
    padding: 20px;
}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}